*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    
    background-color: #90B499;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1{
    font-size: 30px;
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    background-color: #4D825E;
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

nav .menu-lines, nav input{
    display: none;
} 

.card {
    width: 300px;
    cursor: pointer;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    margin: auto;
    text-align: center;
    transition: all 0.5s ease;
    margin-top: 30px;
}

.card p{
    color: #4D825E;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.card.expanded > p {
    display: none;
  }

  
  
.card h2{
    font-size: 25px;
    color: #4D825E;
    margin-top: 20px;
}

.card img{
    width: 150px;
    border-radius: 50%;
}

  .details {
    margin-top: 20px;
  }


  .card.expanded {
    margin: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 1;
    top: 70%;
    left: 60%;
    transform: scale(1.2) translate(-50%, -50%);
    max-height: 200vh;
    overflow: auto;
    box-shadow: none;
  }
  
.card.expanded p{
    color: rgb(0, 0, 0);
}

.card.expanded img{
    margin: auto;
    height: 100%;
}

.estilo{
    background-color: beige;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 200px;
}


.card.expanded > h2{
    color: beige;
    font-size: 35px;
}

.card.expanded > img{
    display: none;
}

.estilo p{
    font-size: 20px;
}

.estilo h3{
    color: #4D825E;
    font-size: 30px;
    margin-top: 20px;
    
}

.card1 h3{
    color: #E38657;
    font-size: 30px;
    margin-top: 20px;
    
}



.card2 h3{
    color: #318190;
    font-size: 30px;
    margin-top: 20px;
    
}

.card.expanded{
    background-color: #4D825E;
    
}

.card1.expanded{
    background-color: #E38657;
    

}

.card1 h2{
    color: #E38657;
}
.card1 p{
    color: #996246;
}


.card2.expanded{
    background-color: #318190;

}
.card2 h2{
    color: #318190;
}
.card2 p{
    color: #2F4858;
}

.box-details {
    display: flex;
    flex-wrap: wrap;
   
}



section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 80%;
    margin: auto;
}


body {
   
    line-height: 1.6;
    
    background-color: #f4f4f4;
}
.container {
   
   

    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 30px;
    
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    margin-top: 50px;
}
.container h1 {
    color: #2c3e50;
    font-size: 36px;
}
.container h2 {
    color: #27ae60;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container p {
    margin: 15px 0;
    font-size: 20px;
    line-height: 35px;
}

strong {
    color: #27ae60;
}
.container ul {
    list-style: none;
    padding: 0;
}
.container ul li {
    margin: 5px 0;
}
.container ul li::before {
    content: "✓";
    color: #27ae60;
    margin-right: 10px;
}

.bola{
    margin: auto;
    background-image: url(/assets/img/back.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 45px;

box-shadow:  37px 37px 74px #a9a9a9,
-37px -37px 74px #f9f9f9;


}

.box{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    
}

.container .h2{
    margin-top: 50px;
    padding-top: 30px;
    color: #125597;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.container h3{
    color: #544EC2;
}

.laranja{
    color: #E38657;
    font-weight: bold;
}   

.verde{
    color: #4D825E;
    font-weight: bold;
}
.azul{
    color: #318190;
    font-weight: bold;
}



@media screen and (min-width: 1100px){
   
    .estilo{
        background-color: beige;
        width: 50%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
    }

   
}

@media screen and (max-width: 600px){
    .card.expanded p{
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
    }
    .box{
        width: 100%;
    }
    .container h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 620px) {
    nav{
        padding: 15px;
       
    }

  

    nav .menu-faketrigger{
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor:pointer;
        padding: 10px;
        right: 0; /* Adicionado */
    }

    nav .menu-lines{
        display: block;
        position: absolute;
        z-index: 999;
        right: 0; /* Adicionado */
        padding: 10px;
    }

nav input{
    display: block;
}

nav .menu-lines span{
    display:block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #4D825E;
    border-radius: 3px;
    transition: all ease .2s;
}

header{
    background-color: white;
}


nav .menu-faketrigger:checked ~ .menu-lines span{
    background-color: #4D825E;
    
}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);

}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;

}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);

}

nav ul{
    display: block;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: #E9E5DA;
    margin-left: -600px;
    transition: all ease .2s;
}

nav .menu-faketrigger:checked ~ ul{
    margin-left: 0;
}

nav ul li{
    padding: 5px;
}

nav ul li a{    
    color: #4D825E;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    transition: all ease .3s;
}

nav ul li a:hover {
    color: #888;
    background-color: #ddd7d738;

}  

header h1{
    color: #ffffff;
    margin: auto;
}

header{
    background-color: #90B499;
    height: 100px;
    display: flex;
}
}