*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    
    background-color: #90B499;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1{
    font-size: 30px;
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    background-color: #4D825E;
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.card {
    width: 300px;
    cursor: pointer;
    height: 400px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    margin: auto;
    text-align: center;
    transition: all 0.5s ease;
    margin-top: 30px;
}

.card p{
    color: #4D825E;
    font-size: 16px;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.card.expanded > p {
    display: none;
  }

  
  
.card h2{
    font-size: 25px;
    color: #4D825E;
    margin-top: 20px;
}

.card img{
    width: 150px;
    border-radius: 50%;
}

  .details {
    margin-top: 20px;
  }


  .card.expanded {
    margin: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 70%;
    left: 60%;
    transform: scale(1.2) translate(-50%, -50%);
    max-height: 200vh;
    overflow: auto;
    box-shadow: none;
  }
  
.card.expanded p{
    color: rgb(0, 0, 0);
}

.card.expanded img{
    margin: auto;
    height: 100%;
}

.estilo{
    background-color: beige;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 200px;
}


.card.expanded > h2{
    color: beige;
    font-size: 35px;
}

.card.expanded > img{
    display: none;
}

.estilo p{
    font-size: 20px;
}

.estilo h3{
    color: #4D825E;
    font-size: 30px;
    margin-top: 20px;
    
}

.card1 h3{
    color: #E38657;
    font-size: 30px;
    margin-top: 20px;
    
}

.card2 h3{
    color: #318190;
    font-size: 30px;
    margin-top: 20px;
    
}

.card.expanded{
    background-color: #4D825E;
    
}

.card1.expanded{
    background-color: #E38657;
    

}

.card1 h2{
    color: #E38657;
}
.card1 p{
    color: #996246;
}


.card2.expanded{
    background-color: #318190;

}
.card2 h2{
    color: #318190;
}
.card2 p{
    color: #2F4858;
}

.box-details {
    display: flex;
    flex-wrap: wrap;
   
}



section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

@media screen and (min-width: 1100px){
   
    .estilo{
        background-color: beige;
        width: 50%;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
    }

   
}

@media screen and (max-width: 600px){
    .card.expanded p{
        color: rgb(0, 0, 0);
        font-size: 20px;
        text-align: center;
    }
}