*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    background-color: #90B499;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1{
    font-size: 30px;
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    background-color: #4D825E;
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}