*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    background-color: #90b499;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-image: url(../assets/img/oceano.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}



nav ul{
    display: flex;
    background-color: #00000038;
    
    text-align: center;
    padding: 15px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

header button{
    background-color: #c1ff72;
    color: #003D28;
    font-size:25px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 0px;
    position: absolute;
    left: 60px;
    font-weight: bold;
    width: 350px;
    height: 50px;
    box-shadow: 0 0 10px #0000001f;



    

}

button:hover{
    background-color: #003D28;
    color: #c1ff72;
    transition: 0.5s;

}

button a:hover{
    text-decoration: none;
    color: #c1ff72;
    transition: 0.5s;
}

button a{
    text-decoration: none;
    color: #003D28;

}

  

.back h2{
    font-size: 70px;
    text-align: left;
    color: #c1ff72;
    padding: 60px 60px 0 ;
}

#text-animado{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding: 10px 60px 60px;
}

.sec1{
    width: 90%;
    margin: auto;
    background-color: #E8F3F1;
}

.sec1 h2{
    font-size: 50px;
    text-align: left;
    color: #c1ff72;
    padding: 40px 60px 0 ;

}

.sec1 p{
    font-size: 25px;
    text-align: left;
    color: #000000;
    line-height: 35px;
    padding: 10px 60px 60px;
}

.box5,.box4,.box3, .box2, .box1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

}



.box5 img,.box4 img,.box3 img, .box2 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #0000001f;
  

   
}

.box1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #0000001f;
}

.sec2{
    background-color: #D2ED8D;
;
}

.sec2 h2{
    font-size: 50px;
    text-align: left;
    color: #003D28;
    padding: 40px 60px 0 ;

}

.sec2 p{
    font-size: 25px;
    text-align: left;
    color: #000000;
    line-height: 35px;
    padding: 10px 60px 60px;
}

.sec2 img{
    width: 100%;
   padding: 20px 60px 60px;
   border-radius: 10px;
}


footer{
    background-color: #003D28;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 40px;
}








@media (max-width: 768px) {
    .box5, .box4, .box3, .box2 ,.box1 {
        flex-direction: column;
        align-items: center;
    }

    .box5 img, .box4 img, .box3 img, .box2 img, .box1 img {
        margin-bottom: 20px;
    }
}