*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    background-color: #90b499;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-image: url(../assets/img/pexels-laker-6156390.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}



nav ul{
    display: flex;
    background-color: #00000038;
    
    text-align: center;
    padding: 15px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

header button{
    background-color: #c1ff72;
    color: #003D28;
    font-size:25px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-top: 0px;
    position: absolute;
    left: 60px;
    font-weight: bold;
    width: 350px;
    height: 50px;
    box-shadow: 0 0 10px #0000001f;



    

}


  

.back h2{
    font-size: 70px;
    text-align: left;
    color: #c1ff72;
    padding: 60px 60px 0 ;
}

#text-animado{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding: 10px 60px 60px;
}