*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #E8F3F1
}

header{
    
    background-color: #90B499;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1{
    font-size: 30px;
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    background-color: #4D825E;
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

nav .menu-lines, nav input{
    display: none;
} 

footer{
    background-color: #98B0A8;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    margin-top: 60px;
}


.sec1{
    background-image: url(../assets/img/praia.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    

}

.text-img {
    width: 50%;
    background-color: #90b4997e;
    height: 100px;
    color: #E8F3F1;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}
.text-img2{
    width: 50%;
    background-color: #90b4997e;
    color: #4D825E;
    height: 100px;
    color: #E8F3F1;
    font-size: 30px;
    margin-top: 150px;
    text-align: center;
   
    
}

.event{
    background-color:#4D825E ;
    width: 250px;
    font-size: 25px;
    color: white;
    padding: 8px ;
    margin-top: 30px;
}

.sec3{
    background-color: #EBFDF7;
    display: flex;
    
    width: 90%;
    margin: auto; 
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    
}

p{
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;
    font-weight: 500;
}

.text{
    
    width: 80%;
}
.text h2{
    font-size: 30px;
    padding: 10px;
    color: #EC8957;
    
}

.text p{
    font-size: 20px;
    padding: 10px;
    
}

.text img{
    width: 100%;

}

.selo{
    text-align: center;
    width: 20%;
    
    border: 1px solid #4D825E;
}

.selo p{
    font-size: 30px;
    color: #EC8957;

}

.selo img{
 width: 50%;
}

.Local{

 
   background-color:#EC8957 ;
   width: 250px;
   text-align: center;
   color: white;
   padding: 8px ;
   margin-top: 30px;
    border-radius: 50px 0px 75px 50px;
   padding: 20px;
   font-size: 20px;
}

.data{
    background-color:#808EF2 ;
    width: 250px;
    font-size: 25px;
    color: white;
    padding: 8px ;
    margin-top: 30px;
    margin-left: 5%;
    border-radius: 0px 50px 50px 75px;
}


.sec4 h2{
    color: #4D825E;
}

.sec4 p{
    color: #4D825E;
}

.sec5 h2{
    color: #396afc;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.sec5 p{
    font-size: 20px;
}


.container {
    margin: auto;
    margin-top: 60px;
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid #396afc;
    background: linear-gradient(to right, #005c97, #363795);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .container form .descr {
    font-size: 20px;
    font-weight: 500;
    color: #e8e8e8;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input, textarea {
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
  }
  
  .input input, textarea {
    font-size: 100%;
    padding: 0.7em;
    outline: none;
    color: #e8e8e8;
    border: none;
    border-bottom: 2px solid #e8e8e8;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
  }
  
  .input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    color: #e8e8e8;
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  
  .input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .input textarea:focus ~ label,
  .input textarea:valid ~ label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
  }
  
  .form button {
    color: #e8e8e8;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .form button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form button:hover:before {
    opacity: 0.2;
  }
  
  .form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  






@media screen and (max-width: 620px) {
    nav{
        padding: 16px;
       
    }

    .text-img p{
        font-size: 15px;
    }
    .text-img2 p{
        font-size: 15px;
    }

    nav .menu-faketrigger{
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor:pointer;
        padding: 10px;
        right: 0; /* Adicionado */
    }

    nav .menu-lines{
        display: block;
        position: absolute;
        z-index: 999;
        right: 0; /* Adicionado */
        padding: 10px;
    }
    header{
        height: 1px;
    }

nav input{
    display: block;
}

nav .menu-lines span{
    display:block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all ease .2s;
}


nav .menu-faketrigger:checked ~ .menu-lines span{
    background-color: #4D825E;
    
}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);

}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;

}
nav .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);

}

nav ul{
    display: block;
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-color: #E9E5DA;
    margin-left: -600px;
    transition: all ease .2s;
}

nav .menu-faketrigger:checked ~ ul{
    margin-left: 0;
}

nav ul li{
    padding: 5px;
}

nav ul li a{    
    color: #4D825E;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    transition: all ease .3s;
}

nav ul li a:hover {
    color: #888;
    background-color: #ddd7d738;

}  

.sec3 {
  
    width: 100%;
}

}

